<div class="headerMid w980 mm">
                <div style="display:inline-block; margin: 20px 0 0 0px;position:absolute;">
                	<table>
                		<tr>
                			<td style="width: 70px;">
                				<img src="/static/skins/ico/logo.png" style="width: 60px;height: 60px;" />
                			</td>
                			<td style="text-align: center;font-size: 24px;font-weight:bold;">
                				<span>成都方迅科技有限公司</span>
                			</td>
                		</tr>
                	</table>
                	
                	
                </div>
                	
                <div class="fav">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1252107020&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:712098291:52" alt="网硕欢迎你的光临！" title="网硕欢迎你的光临！"/></a>
                    <i style="float:right;">|</i>
                    <span class="open_rss" style="float:right;color:red;font-size:16px;font-weight:bold;">186-028-70067</span>
                    <span class="open_rss" style="float:right;font-weight:bold;">服务热线: </span>
                    <div class="search">
                       <form id="ajaxElement_1_345" action="/search.html" target="_blank">  
                           <input type="text" id="word" class="seaIn" value="请输入关键字" onfocus="if(this.value == &quot;请输入关键字&quot;) this.value=&quot;&quot;;" onblur="if(this.value == &quot;&quot;) this.value=&quot;请输入关键字&quot;;">
                           <input class="seaBtn" onclick="document.getElementById('ajaxElement_1_345').submit();return false;" type="button"/>
                      </input></input><input type="hidden" id="channelID" name="channelID" value="1" /></form>
                    </div>
                </div>
            </div>