<link href="/static/skins/css/inside.css" rel="stylesheet" type="text/css" /> 

<div class="sideBar">
    <div class="sideBarTop">
      <h3>产品中心</h3>
      <h4>Product Center</h4>
    </div>
    <div style="margin-top:0px" class="sideBarMenu">
      <ul>
         <li>
          <a title="交换机" href="/products/1">交换机</a> 
        </li>
        <li>
          <a title="路由器" href="/products/2">路由器</a>
        </li>
        <li>
          <a title="无线产品" href="/products/3">无线产品</a>
        </li>
        <li>
          <a title="服务器" href="/products/4">服务器</a>
        </li>
      </ul>
    </div>
  </div>