<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>网硕交换机、网硕流控路由、panabit、流控大师、神州数码DCN、防火墙、服务器</title>
    <meta name="description" content="成都方迅科技有限公司位于成都IT中心，是复合应用型网络技术科技企业，公司本着“服务四方、迅达天下、成就客户、奋斗为先”的理念；为用户提供最先进、可靠、稳定的网络设备与解决方案。通过不断的开拓进取，和多年的积累与沉淀获得了业界的好评和客户的信赖。成都方迅致力成为业界杰出的下一代数据应用和云计算解决方案供应商。 " />
    <meta name="keywords" content="万兆交换机,服务器,流控大师,神州数码,DCN,工业级通讯设备,防火墙,交换机" />
    <link href="/static/skins/css/public.css" rel="stylesheet" type="text/css" />
    {% block css %}{% endblock %}
	<script type="application/javascript">
	var $pageInfo = { publishmentSystemID : 1,
				 channelID : 1, contentID : 0,
				siteUrl : "",
				 homeUrl : "/center", currentUrl : "/" }
	</script>
</head>

<body>
        <!--header-->
        <!--头部 结束-->
        <!--导航 开始-->
        <div class="header">
            {% include  '_head_min.html' %}
            {% include  '_nav.html' %}
        </div>
        <script src="/static/skins/js/swfobject.js" type="text/javascript"></script>
        <script src="/static/skins/js/jwplayer.js" type="text/javascript"></script>
        <script src="/static/skins/js/jquery-1.7.min.js" type="text/javascript"></script>
        
       
        <!--header end-->
		{% block pretitle %}{% endblock %}
        <!--news-->
        {% block prenews %}{% endblock %}
        
        <!--news end-->
        <!--main-->
        {% block main %}{% endblock %}
        
        <!--main end-->
<!--footer-->
        <div class="footer">
            <div class=" w980 mm od">
                <div class="box wa od">
                    <dl>
                        <dt><a href="javascript:;" title="访问者分类">访问者分类</a></dt>
                        <dd><a href="" title="网吧">网吧</a></dd>
                        <dd><a href="" title="酒店餐饮">酒店餐饮</a></dd>
                        <dd><a href="" title="企事业单位">企事业单位</a></dd>
                        <dd><a href="" title="运营商">运营商</a></dd>
                        <dd><a href="" title="求职者">求职者</a></dd>
                    </dl>
                    <dl>
                        <dt title="网硕产品"><a href="" title="网硕产品">网硕产品</a></dt>
                        <dd><a href="" title="交换机">交换机</a></dd>
                        <dd><a href="" title="路由器">路由器</a></dd>
                        <dd><a href="" title="无线产品">无线产品</a></dd>
                        <dd><a href="" title="服务器">服务器</a></dd>
                        <dd><a href="" title="布线产品">布线产品</a></dd>
                    </dl>
                    <dl>
                        <dt title="解决方案"><a href="/Anli/index.aspx?nodecode=101003" title="解决方案">解决方案</a></dt>
                        <dd><a href="javascript:;" title="政府">政府</a></dd>
                        <dd><a href="javascript:;" title="交通">交通</a></dd>
                        <dd><a href="javascript:;" title="能源">能源</a></dd>
                        <dd><a href="javascript:;" title="电信与IDC">电信与IDC</a></dd>
                        <dd><a href="javascript:;" title="金融">金融</a></dd>
                        <dd><a href="javascript:;" title="企业">企业</a></dd>
                    </dl>
                    <dl>
                        <dt title="服务支持"><a href="/Service/DownLoad.aspx?nodecode=101004005" title="服务支持">服务支持</a></dt>
                        <dd><a href="/Service/FAQ.aspx?nodecode=101004003002" title="故障处理">故障处理</a></dd>
                        <dd><a href="/Service/Advisory.aspx?nodecode=101004004002" title="留言咨询">留言咨询</a></dd>
                        <dd><a href="/Service/DownLoad.aspx?nodecode=101004005" title="资料下载">资料下载</a></dd>
                    </dl>
                    <dl>
                        <dt title="渠道合作"><a href="/Partners/ZhiChi.aspx" title="渠道合作">渠道合作</a></dt>
                        <dd><a href="/Partners/ZhiChi.aspx?nodecode=101005001" title="渠道合作专区">渠道合作专区</a></dd>
                        <dd><a href="/Partners/Notice.aspx?nodecode=101005002001" title="成为合作伙伴">成为合作伙伴</a></dd>
                    </dl>
                    <dl>
                        <dt title="关于ZNV"><a href="/About/Info.aspx?nodecode=101006001001" title="关于方迅">关于方迅</a></dt>
                        <dd><a href="/About/Info.aspx?nodecode=101006001001" title="公司信息">公司信息</a></dd>
                        <dd><a href="/About/News.aspx?NodeCode=101006002" title="媒体中心">媒体中心</a></dd>
                        <dd><a href="/About/Market.aspx?nodecode=101006003001" title="市场活动">市场活动</a></dd>
                        <dd><a href="/About/contact.aspx?nodecode=101006005001" title="联系我们">联系我们</a></dd>
                        <dd><a href="/About/HrIndex.aspx?nodecode=101006006" title="人才招聘">人才招聘</a></dd>
                    </dl>
                </div>
                <div class="copy wa">
					
                </div>
				<div style="text-align: center;">
					<span>&copy; <a target="_blank" href="#">网站备案号： 蜀ICP备15036413号-1 </a></span>
				</div>
                
            </div>
        </div>
        <script type="text/javascript">


        </script>
        <div class="advertise" style="display:none;">
            <div class="adv_title" onclick="show()"><img src="/static/skins/images/02.jpg"></div>
            <div class="adv_cont">
                <span onclick="show()"></span>
                <p class="adv_word">
                    
                </p>
            </div>
        </div>
        <!--footer end-->
</body>
<script type="text/javascript" src="/static/skins/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/static/skins/js/common.js"></script>
<script type="text/javascript" src="/static/skins/js/index.js"></script>
<script type="text/javascript" src="/static/skins/js/indexBanner.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="/static/skins/js/DD_belatedPNG.js" ></script>
<script type="text/javascript">
 DD_belatedPNG.fix('.png');
</script>
<![endif]-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?5887c0562fdfa5b72f27b2d2a95e9b50";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</html>