{% extends  'base.html' %}
{% block css %}
<link href="/static/skins/css/index.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block pretitle %}
<!--Inbanner-->        
<div class="Inbanner">
    <div class="banUL">
        <ul>
            {% for l in blist %}
				<li>
                	<a href="{{ l.href }}"><img src="/static/upload/{{ l.img1 }}" height="410" /></a>
            	</li>
			{% endfor  %}            
        </ul>
    </div>
</div>
<!--banner end-->
{% endblock %}


{% block prenews %}
<div class="news">
    <div class="w980 mm">
        <div class="share_a"></div>
        <strong><a href="/abouts/1">公司新闻:</a></strong>
        
        <div class="newsScroll" id="div1">
            <ul>
              {% for n in  news %}
                <li><a href="{{ n.get_url }}" target="_blank">{{ n.title }}</a><span>[{{ n.create_time }}]</span></li>
              {% endfor %}
            </ul>
        </div>
        
    </div>
</div>
{% endblock %}


{% block main %}

<div class="main w980 mm mt20 od">
    <ul class="IndexM">
      {% for p in plist %}
        <li>
            <a href="{{ p.get_url }}" title="新品推荐">
            	<img src="{{ p.get_img }}" width="319" height="166"  />
             </a>
            <h3><a href="{{ p.get_url }}" title="">{{ p.name }}</a></h3>
            <h4>{{ p.detail }}</h4>
        </li>
       {% endfor %}
    </ul>
</div>
{% endblock %}