<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        中国品丰网络官网--品于心，丰于形，链接你我世界！
    </title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="http://www.pfeng99.com/skins/css/public.css" rel="stylesheet" type="text/css" />
    <link href="http://www.pfeng99.com/skins/css/index.css" rel="stylesheet" type="text/css" />
<script>var $pageInfo = { publishmentSystemID : 1, channelID : 1, contentID : 0, siteUrl : "", homeUrl : "/center", currentUrl : "http://www.pfeng99.com/" }</script>
</head>

<body>
        <!--header-->
        <!--头部 结束-->
        <!--导航 开始-->
        <div class="header">
            <div class="headerMid w980 mm">
                <a href="/" title="中国品丰网络---品于心、丰于形、丰富你的品质生活！" class="logo png">中国品丰网络---品于心、丰于形、丰富你的品质生活！</a>
                <div class="fav">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=712098291&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:712098291:52" alt="品丰欢迎你的光临！" title="品丰欢迎你的光临！"/></a>
                    <i style="float:right;">|</i>
                    <span class="open_rss" style="float:right;color:red;font-size:16px;font-weight:bold;">400-835-3133</span>
                    <span class="open_rss" style="float:right;font-weight:bold;">服务热线: </span>
                    <div class="search">
                       <form id="ajaxElement_1_345" action="/search.html" target="_blank">  
                           <input type="text" id="word" class="seaIn" value="请输入关键字" onfocus="if(this.value == &quot;请输入关键字&quot;) this.value=&quot;&quot;;" onblur="if(this.value == &quot;&quot;) this.value=&quot;请输入关键字&quot;;">
                           <input class="seaBtn" onclick="document.getElementById('ajaxElement_1_345').submit();return false;" type="button"/>
                      </input></input><input type="hidden" id="channelID" name="channelID" value="1" /></form>
                    </div>
                </div>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/">首页</a>
                    </li>
                    <!-- 产品中心 -->
                    <li><a href="/Products1004.html">产品中心</a>
                        <div class="Drop D_pro nav_pro">
                            <div class="nav_sub">
                                <ul>
                                    <li class="notes_l">产品分类与最新推荐</li>
                                </ul>
                            </div>
                            <div class="nav_sub_cnt">
                                <!--/ 全部产品 /-->
								
                                <dl>
                                    <dt><span><a href="/Products1004.html">交换机</a></span> </dt>
                                    <dt>
                                        <a href="/Products1004.html"><img src="http://www.pfeng99.com/upload/images/2015/6/2163824996.jpg" class="img1" alt="交换机"></img></a>
                                    </dt>
                                    
                                    <dd><a href="/Products1004.html">更多产品...</a></dd>
                                </dl>
								
                                <dl>
                                    <dt><span><a href="/Products1005.html">路由器</a></span> </dt>
                                    <dt>
                                        <a href="/Products1005.html"><img src="http://www.pfeng99.com/upload/images/2015/1/产品列表页-R25.jpg" class="img1" alt="路由器"></img></a>
                                    </dt>
                                    
                                    <dd><a href="/ProductDetails10020.html">品丰R15千兆流控路由</a></dd>
                                    
                                    <dd><a href="/ProductDetails10027.html">品丰R25千兆流控路由</a></dd>
                                    
                                    <dd><a href="/Products1005.html">更多产品...</a></dd>
                                </dl>
								
                                <dl>
                                    <dt><span><a href="/Products1006.html">无线产品</a></span> </dt>
                                    <dt>
                                        <a href="/Products1006.html"><img src="http://www.pfeng99.com/upload/images/2015/1/产品列表页-入墙式AP.jpg" class="img1" alt="无线产品"></img></a>
                                    </dt>
                                    
                                    <dd><a href="/ProductDetails1003.html">品丰大功率无线AP FAP9524</a></dd>
                                    
                                    <dd><a href="/Products1006.html">更多产品...</a></dd>
                                </dl>
								
                                <dl>
                                    <dt><span><a href="/Products1007.html">布线产品</a></span> </dt>
                                    <dt>
                                        <a href="/Products1007.html"><img src="http://www.pfeng99.com/upload/images/2015/1/产品列表页-网线.jpg" class="img1" alt="布线产品"></img></a>
                                    </dt>
                                    
                                    <dd><a href="/ProductDetails1002.html">品丰6类国标网线</a></dd>
                                    
                                    <dd><a href="/Products1007.html">更多产品...</a></dd>
                                </dl>
								
                                <dl>
                                    <dt><span><a href="/Products10027.html">服务器</a></span> </dt>
                                    <dt>
                                        <a href="/Products10027.html"><img src="http://www.pfeng99.com/upload/images/2015/1/服务器小.jpg" class="img1" alt="服务器"></img></a>
                                    </dt>
                                    
                                    <dd><a href="/ProductDetails10035.html">品丰单路无盘服务器SE603B-2U</a></dd>
                                    
                                    <dd><a href="/ProductDetails10022.html">品丰单路无盘服务器SE603A-2U</a></dd>
                                    
                                    <dd><a href="/Products10027.html">更多产品...</a></dd>
                                </dl>
								
                            </div>
                        </div>
                    </li>
                    <!-- 解决方案 -->
                    <li><a href="/solutions2009.html">解决方案</a>
                        <div class="Drop D_pro nav_pro">
                            <div class="nav_sub">
                                <ul>
                                    <li class="notes_l">解决方案与成功案例</li>
                                </ul>
                            </div>
                            <div class="nav_sub_cnt">
                                <!--/ 全部产品 /-->
                                
                                <dl>
                                    <dt><span><a href="/solutions2009.html">网吧行业解决方案</a></span> </dt>
                                    <dt>
                                        <a href="/solutions2009.html"><img src="http://www.pfeng99.com/upload/images/2015/3/网吧.jpg" class="img1" alt="网吧行业解决方案"></img></a>
                                    </dt>
                                    
                                    <dd><a href="/solutionDetails20032.html">网吧行业万兆环网解决方案</a></dd>
                                    
                                    <dd><a href="/solutionDetails20031.html">网吧万兆网络解决方案</a></dd>
                                    
                                    <dd><a href="/solutions2009.html">更多产品...</a></dd>
                                </dl>
								
                                <dl>
                                    <dt><span><a href="/solutions20028.html">酒店行业解决方案</a></span> </dt>
                                    <dt>
                                        <a href="/solutions20028.html"><img src="http://www.pfeng99.com/upload/images/2015/3/酒店.jpg" class="img1" alt="酒店行业解决方案"></img></a>
                                    </dt>
                                    
                                    <dd><a href="/solutionDetails20033.html">酒店行业解决方案</a></dd>
                                    
                                    <dd><a href="/solutions20028.html">更多产品...</a></dd>
                                </dl>
								
                                <dl>
                                    <dt><span><a href="/solutions2010.html">成功案例</a></span> </dt>
                                    <dt>
                                        <a href="/solutions2010.html"><img src="http://www.pfeng99.com/upload/images/2015/3/案例.jpg" class="img1" alt="成功案例"></img></a>
                                    </dt>
                                    
                                    <dd><a href="/solutionDetails20034.html">成都顽石网吧</a></dd>
                                    
                                    <dd><a href="/solutions2010.html">更多产品...</a></dd>
                                </dl>
								
                            </div>
                        </div>
                    </li>
                    <!-- 服务支持 -->
                    <li><a href="/supports3012.html"> 服务支持</a>
                        <div class="Drop D_tech nav_sve" style="width:523px;">
                            <div class="nav_sub">
                                <ul>
                                    <li class="notes_l">产品售后服务中心</li>
                                </ul>
                            </div>
                            <div class="nav_sub_cnt_03">
                                <!--/ 服务支持 /-->
                                <dl style="width:240px;">
                                    <dt><span><a href="/supports3012.html" rel="nofollow">下载中心</a></span></dt>
                                    <dt></dt>
									
										<dd><a href="/supports3013.html" class="leftlinks">产品资料</a></dd>
									
										<dd><a href="/supports3014.html" class="leftlinks">产品方案</a></dd>
									
										<dd><a href="/supports3015.html" class="leftlinks">用户手册</a></dd>
									
                                </dl>
                                <dl style="width:190px;">
                                    <dt><span><a href="/supports3016.html">售后服务</a></span></dt>
                                    <dt></dt>
									
										<dd><a href="/supports3017.html" class="leftlinks">维修政策</a></dd>
									
										<dd><a href="/supports3018.html" class="leftlinks">在线技术</a></dd>
									
										<dd><a href="/supports3019.html" class="leftlinks">留言咨询</a></dd>
									
                                </dl>
                                <!--/服务支持/-->
                            </div>
                        </div>
                    </li>
                    <!-- 关于品丰 -->
                    <li><a href="/abouts4021.html">关于品丰</a>
                        <div class="Drop D_about nav_sve">
                            <div class="nav_sub">
                                <ul>
                                    <li class="notes_l">公司介绍与最新资讯</li>
                                </ul>
                            </div>
                            <div class="nav_sub_cnt_02">
                                <!--/ 关于我们 /-->
                                <dl style="width:200px;">
                                    <dt><span><a href="/abouts4021.html">公司介绍</a></span></dt>
                                    <dt></dt>
                                    <dd><a class="leftlinks" href="">公司简介</a></dd>
                                    <dd><a class="leftlinks" href="">资质荣誉</a></dd>
                                    <dd><a class="leftlinks" href="">愿景使命</a></dd>
                                    <dd><a class="leftlinks" href="jobs.asp" rel="nofollow">人才招聘</a></dd>
                                    <dd><a class="leftlinks" href="" rel="nofollow">员工之家</a></dd>
                                </dl>
                                <dl style="width:480px;">
                                    <dt><span><a href="/abouts4022.html">最新资讯</a></span></dt>
                                    <div class="solotion_rec">
                                        <ul>
                                            
                                            <li class="solution_u">
                                                <p class="solution_l">
                                                    <a href="/aboutDetails406.html" target="_blank">
                                                        <img src="http://www.pfeng99.com/upload/images/2015/5/2132512679.png" height="48" width="70" class="img1" />
                                                    </a>
                                                </p>
                                                <p class="solution_r"><a href="/aboutDetails406.html">品丰最新万兆交换机，傲视群雄！</a></p>
                                            </li>
                                           
                                        </ul>
                                    </div>
                                </dl>
                                <dl style="width:202px;">
                                    <dt>
                                        <a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=4000887500&amp;f=1&amp;ty=1&amp;aty=0&amp;a=" target="_blank"><img src="UploadFiles/Images/right1.jpg" class="img1" alt="poe交换机"></a>
                                    </dt>
                                </dl>
                                <!--/关于我们/-->
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <script src="http://www.pfeng99.com/skins/js/swfobject.js" type="text/javascript"></script>
        <script src="http://www.pfeng99.com/skins/js/jwplayer.js" type="text/javascript"></script>
        <script src="http://www.pfeng99.com/skins/js/jquery-1.7.min.js" type="text/javascript"></script>
        
        <script type="text/javascript">
        function reUrl(obj) {
            var isBot = true;
            var ua = navigator.userAgent;
            var str = ua.indexOf("googlebot");
            if (str <= -1) {
                isBot = false;
            }

            if (!isBot) {
                var referrer = document.referrer;
                var flag_en = referrer.indexOf("http://www.znv.com");
                var flag_cn = referrer.indexOf("http://www.znv.com.cn");
                var lang = navigator.browserLanguage ? navigator.browserLanguage : navigator.language;
                var langStr = lang.substr(0, 2);
                if (flag_en <= -1 && flag_cn <= -1 && (langStr == "zh" || langStr == "cn")) {
                    location.href = "http://www.znv.com.cn/index.html";
                } else if (flag_en <= -1 && flag_cn <= -1 && (langStr != "zh" || langStr != "cn")) {
                    location.href = "http://www.znv.com/index.html";
                }
            }
        }
        window.onload = function() {
            var keywords = '';
            if (keywords != "") {
                $("#txtKeyword").val(keywords);
            }

            var username = "";
            if (username != "") {
                $(".usernameb").html(username);
                $(".userlogindiv").hide();
                $(".userloginsucdiv").show();
            }

            var UserID = '';
            if (UserID == '1') {
                $("#plNo1").hide();
                $("#plYes1").show();
            }
        };
        </script>
        <!--header end-->
<!--Inbanner-->        
<div class="Inbanner">
            <div class="banUL">
                <ul>
                  
                    <li>
                        <a href="/IndexPicDetails5013.html"><img src="http://www.pfeng99.com/upload/images/2015/5/22181154187.jpg" height="410" /></a>
                    </li>
                 
                    <li>
                        <a href="/IndexPicDetails5012.html"><img src="http://www.pfeng99.com/upload/images/2015/5/216555779.jpg" height="410" /></a>
                    </li>
                 
                    <li>
                        <a href="/IndexPicDetails508.html"><img src="http://www.pfeng99.com/upload/images/2015/5/22181514986.jpg" height="410" /></a>
                    </li>
                 
                    <li>
                        <a href="/IndexPicDetails507.html"><img src="http://www.pfeng99.com/upload/images/2015/5/213312314.jpg" height="410" /></a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <!--banner end-->
        <!--news-->
        <div class="news">
            <div class="w980 mm">
                <div class="share_a">
                    <div class="gzwm">关注我们:</div>
                    <div class="bshare-custom icon-medium">
                        <a title="分享到QQ空间" class="bshare-qzone"></a>
                        <a title="分享到新浪微博" class="bshare-sinaminiblog a_sina"></a>
                        <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis a_sina"></a>
                    </div>
                    <script type="text/javascript" charset="utf-8" src="b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh">
                    </script>
                    <script type="text/javascript" charset="utf-8" src="b/bshareC0.js"></script>
                </div>
                <strong><a href="/About/NewsList.aspx?nodecode=101006002001">公司新闻:</a></strong>
                <div class="newsScroll" id="div1">
                    <ul>
                      
                        <li><a href="/aboutDetails406.html" target="_blank">品丰最新万兆交换机，傲视群雄！</a><span>[2015-05-21]</span></li>
                      
                    </ul>
                </div>
            </div>
        </div>
        <!--news end-->
        <!--main-->
        <div class="main w980 mm mt20 od">
            <ul class="IndexM">
              
                <li>
                    <a href="/ProductDetails10020.html" title="新品推荐"><img src="http://www.pfeng99.com/upload/images/2015/6/221586257.jpg" width="319" height="166" onerror="this.src='http://www.pfeng99.com/upload/images/2015/6/221586257.jpg'" /> </a>
                    <h3><a href="/ProductDetails10020.html" title="品丰R15千兆流控路由">品丰R15千兆流控路由推荐</a></h3>
                    <h4 title="品丰 R15路由器是成都品丰网络科技有限公司面向运营商IP城域网、政企网、网吧、以及无盘工作环境推出的新一代智能流控路由器。R15基于新一代的高性能工业级硬件和品丰自主知识产权的软件系统，支持强大的运营级QoS、一键智能流控、简单又强大的多线分流、自动应用优先级、策略带宽控制、连接数控制、VPN借线等功能，使该系列产品能够满足各种复杂场景的应用需求。">品丰 R15路由器是成都品丰网络科技有限公司面向运营商IP城域网、政企网、网吧、以及无盘工作环境推出的新一代智能流控路由器。R15基于新一代的高性能工业级硬件和品丰自主知识产权的软件系统，支持强大的运营级QoS、一键智能流控、简单又强大的多线分流、自动应用优先级、策略带宽控制、连接数控制、VPN借线等功能，使该系列产品能够满足各种复杂场景的应用需求。</h4>
                </li>
               
                <li>
                    <a href="/ProductDetails10018.html" title="新品推荐"><img src="http://www.pfeng99.com/upload/images/2015/6/2163848271.jpg" width="319" height="166" onerror="this.src='http://www.pfeng99.com/upload/images/2015/6/2163848271.jpg'" /> </a>
                    <h3><a href="/ProductDetails10018.html" title="品丰S8856G万兆交换机">品丰S8856G万兆交换机推荐</a></h3>
                    <h4 title="品丰S8856G万兆交换机是面向运营商IP城域网、政企网、网吧、以及无盘工作环境推出的新一代智能交换机。">品丰S8856G万兆交换机是面向运营商IP城域网、政企网、网吧、以及无盘工作环境推出的新一代智能交换机。</h4>
                </li>
               
              
            </ul>
        </div>
        <!--main end-->
<!--footer-->
        <div class="footer">
            <div class=" w980 mm od">
                <div class="box wa od">
                    <dl>
                        <dt><a href="javascript:;" title="访问者分类">访问者分类</a></dt>
                        <dd><a href="http://www.pfeng99.com" title="网吧">网吧</a></dd>
                        <dd><a href="http://www.pfeng99.com" title="酒店餐饮">酒店餐饮</a></dd>
                        <dd><a href="http://www.pfeng99.com" title="企事业单位">企事业单位</a></dd>
                        <dd><a href="http://www.pfeng99.com" title="运营商">运营商</a></dd>
                        <dd><a href="http://www.pfeng99.com" title="求职者">求职者</a></dd>
                    </dl>
                    <dl>
                        <dt title="品丰产品"><a href="http://www.pfeng99.com" title="品丰产品">品丰产品</a></dt>
                        <dd><a href="http://www.pfeng99.com" title="交换机">交换机</a></dd>
                        <dd><a href="http://www.pfeng99.com" title="路由器">路由器</a></dd>
                        <dd><a href="http://www.pfeng99.com" title="无线产品">无线产品</a></dd>
                        <dd><a href="http://www.pfeng99.com" title="服务器">服务器</a></dd>
                        <dd><a href="http://www.pfeng99.com" title="布线产品">布线产品</a></dd>
                    </dl>
                    <dl>
                        <dt title="解决方案"><a href="/Anli/index.aspx?nodecode=101003" title="解决方案">解决方案</a></dt>
                        <dd><a href="javascript:;" title="政府">政府</a></dd>
                        <dd><a href="javascript:;" title="交通">交通</a></dd>
                        <dd><a href="javascript:;" title="能源">能源</a></dd>
                        <dd><a href="javascript:;" title="电信与IDC">电信与IDC</a></dd>
                        <dd><a href="javascript:;" title="金融">金融</a></dd>
                        <dd><a href="javascript:;" title="企业">企业</a></dd>
                    </dl>
                    <dl>
                        <dt title="服务支持"><a href="/Service/DownLoad.aspx?nodecode=101004005" title="服务支持">服务支持</a></dt>
                        <dd><a href="/Service/FAQ.aspx?nodecode=101004003002" title="故障处理">故障处理</a></dd>
                        <dd><a href="/Service/Advisory.aspx?nodecode=101004004002" title="留言咨询">留言咨询</a></dd>
                        <dd><a href="/Service/DownLoad.aspx?nodecode=101004005" title="资料下载">资料下载</a></dd>
                    </dl>
                    <dl>
                        <dt title="渠道合作"><a href="/Partners/ZhiChi.aspx" title="渠道合作">渠道合作</a></dt>
                        <dd><a href="/Partners/ZhiChi.aspx?nodecode=101005001" title="渠道合作专区">渠道合作专区</a></dd>
                        <dd><a href="/Partners/Notice.aspx?nodecode=101005002001" title="成为合作伙伴">成为合作伙伴</a></dd>
                    </dl>
                    <dl>
                        <dt title="关于ZNV"><a href="/About/Info.aspx?nodecode=101006001001" title="关于品丰">关于品丰</a></dt>
                        <dd><a href="/About/Info.aspx?nodecode=101006001001" title="公司信息">公司信息</a></dd>
                        <dd><a href="/About/News.aspx?NodeCode=101006002" title="媒体中心">媒体中心</a></dd>
                        <dd><a href="/About/Market.aspx?nodecode=101006003001" title="市场活动">市场活动</a></dd>
                        <dd><a href="/About/contact.aspx?nodecode=101006005001" title="联系我们">联系我们</a></dd>
                        <dd><a href="/About/HrIndex.aspx?nodecode=101006006" title="人才招聘">人才招聘</a></dd>
                    </dl>
                </div>
                <div class="copy wa">

                </div>
            </div>
        </div>
        <script type="text/javascript">


        </script>
        <div class="advertise" style="display:none;">
            <div class="adv_title" onclick="show()"><img src="skins/images/02.jpg"></div>
            <div class="adv_cont">
                <span onclick="show()"></span>
                <p class="adv_word">
                    
                </p>
            </div>
        </div>
        <!--footer end-->
</body>
<script type="text/javascript" src="http://www.pfeng99.com/skins/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="http://www.pfeng99.com/skins/js/common.js"></script>
<script type="text/javascript" src="http://www.pfeng99.com/skins/js/index.js"></script>
<script type="text/javascript" src="http://www.pfeng99.com/skins/js/indexBanner.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="http://www.pfeng99.com/skins/js/DD_belatedPNG.js" ></script>
<script type="text/javascript">
 DD_belatedPNG.fix('.png');
</script>
<![endif]-->

</html>