{% extends  'base.html' %}

{% block main %}

{% include  '_pretitle.html' %}

<div class="main w980 mm mt20 od">
  {% include  '_path.html' %}
  
  {% include  '_sidebar.html' %}
  
  <div class="rightCon">
    <div class="proSearch">
      <div class="proSTop">
      </div>
      <!-- <div class="proSMid">
        <form target="_blank" action="/search.html" id="ajaxElement_2_917">  
          <span>产品查询：</span>
          <input type="text" onblur="if(this.value == &quot;&quot;) this.value=&quot;请输入关键字&quot;;" onfocus="if(this.value == &quot;请输入关键字&quot;) this.value=&quot;&quot;;" value="请输入关键字" class="InP_6" id="word">
          <input type="button" value="搜 索" onclick="document.getElementById('ajaxElement_2_917').submit();return false;" class="Btn_2">
        <input type="hidden" value="1" name="channelID" id="channelID"></form>
      </div> -->
        <div class="proSBtm">
        </div>
        </div>
        <div class="wa od mt15">
          <div class="proList">
            <ul>
             
            {% for rec in recs %}
            <li style="background-position: 0px 0px;">
              <div style="float: left; width: 160px;">
              	<img  src="{{ rec.get_img }}" title="{{ rec.detail }}">
              </div>	
              <div style="float: right; width:150px;" class="float111">
	              <h4 class="mt15">
	                <a  target="_blank" href="{{ rec.get_url }}">{{ rec.name }}
	                </a>
	              </h4>
              	  
              	    {% if rec.detail1 %}
	                <a class="axz" title="" target="_blank" href="{{ rec.get_url }}#detail1">产品特点</a> 
	                {% endif %}
	                
	                {% if rec.detail2 %}
	                <a class="acs" title="" target="_blank" href="{{ rec.get_url }}#detail2">产品规格</a>
	                {% endif %}
	                
	                {% if rec.detail3 %}
	                <a class="ams" title="" target="_blank" href="{{ rec.get_url }}#detail3">软件功能</a>
	                 {% endif %}
	                
	                {% if rec.detail4 %}
	                <a class="ams" title="" target="_blank" href="{{ rec.get_url }}#detail4">典型应用</a>
	                 {% endif %}
	                
	                {% if rec.detail5 %}
	                <a class="ams" title="" target="_blank" href="{{ rec.get_url }}#detail5">订购信息</a>
	                 {% endif %}	
              </div>
           
              <div class="blank0"></div>
            </li>
               
            {% endfor %}   
              
            </ul>
          </div>
          <div class="page">
            
          </div>
        </div>
        </div>
        </div>
        <style type="text/css">
        	.blank0{
        		width: 100%;
        		height:0;
        		clear: both;
        	}
        	.float111 a{
        		float: none;
        		margin-top:2px;
        	}
        </style>
{% endblock %}