{% extends  'base.html' %}

{% block main %}

{% include  '_pretitle.html' %}

<div class="main w980 mm mt20 od">
  {% include  '_path.html' %}
  
  {% include  '_sidebar.html' %}

 <div class="rightCon">
    <div class="proSearch">
      <div class="container">
        <em class="corner"></em>
        <div class="ctTit">title</div>
        <div class="proImg">
          <div class="proImgBig">
            <img src="/static/upload/1.jpg" width="396" height="244" alt="" ></div>
        </div>
        <div class="proTab">
          <div class="PTDTop">
            <span class="ptspcur">产品特点</span>
            <span>产品规格</span>
            <span>软件功能</span>
            <span>典型应用</span>
            <span>订购信息</span>
          </div>
          <div class="PTDCon">
            <div class="PTDBox bk">
              1
            </div>
            <div class="PTDBox ">
              2
            </div>
            <div class="PTDBox ">
              3
            </div>
            <div class="PTDBox">
              4
            </div>
            <div class="PTDBox">
              5
            </div>
          </div>
        </div>
      </div>
      <div class="proSBtm">
      </div>
    </div>
    <div class="page">
    
    </div>
  </div>
</div>
</div>
        
{% endblock %}